[submodule "webpages/ros2libjs"]
	path = webpages/ros2libjs
	url = https://github.com/6RiverSystems/ros2libjs.git
[submodule "robot_ws/src/ros2_heinz"]
	path = robot_ws/src/ros2_heinz
	url = https://github.com/K-d4wg/ros2_heinz.git
